/.ninja_deps
/.ninja_log
/CMakeCache.txt
/CMakeFiles/
/bin/plastd
/bin/plasts
/bin/plastc
/build.ninja
/cmake_install.cmake
/rules.ninja
/src/CMakeFiles/
/src/cmake_install.cmake
/src/libplast.a
/.gdb_brestore
/.gdb_brestore.txt
/.gdb_history
/src/.gdb_history
/bin/c++
/bin/clang
/bin/clang++
/bin/g++
/bin/gcc
/bin/.gdb_history
/bin/cc
