body {
    background-color: #bbc;
    overflow: hidden;
}

#disconnected {
    background: #000;
    opacity: 0.8;
    position: fixed;
    top: 2em;
    left: 2em;
    bottom: 2em;
    right: 2em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#disconnected > p {
    color: white;
    font: 2em arial, helvetica, sans-serif;
}

#detail {
    background: #08f;
    font: 0.8em arial, helvetica, sans-serif;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#detail table {
    color: white;
}

#header {
    background-color: white;
}

#header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: white;
    float: left;
    width: 100%;
}

#header li {
    float: left;
    margin: 0 1em 0 0;
}

#header a.back {
    margin-left: 0.2em;
    font-weight: bold;
    color: #6cf;
    font-size: 3em;
    position: relative;
    bottom: -0.25em;
    text-decoration: none;
}

#header a.tab {
    text-decoration: none;
    display: block;
    width: 6em;
    padding: 0 0.5em;
    font-weight: bold;
    color: black;
    border-bottom: 0.5em solid #6cf;
    color: #6cf;
}

#header a:hover {
    color: #3af;
    border-color: #3af;
}

#header #selected a {
    color: #08f;
    border-color: #08f;
}

#content {
    clear: both;
    color: white;
    padding: 1em;
}

#content p {
    margin: 0 0 1em 0;
}

h1 {
    padding: 0.3em 0.2em 0.3em 0.5em;
    color: #08f;
    font-size: 1.5em;
    font-style: italic;
    display: inline-block;
}

#log {
    font: 0.8em arial, helvetica, sans-serif;
    position: fixed;
    right: 0;
    padding-right: 5;
    top: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

@keyframes logspanfinish {
    0% { color: #666; }
    100% { color: white; }
}

@-webkit-keyframes logspanfinish {
    0% { color: #666; }
    100% { color: white; }
}

#log > span.active {
    color: #666;
}

#log > span.inactive {
    color: white;
    animation-duration: 1s;
    animation-name: logspanfinish;
    animation-iteration-count: 1;
    -webkit-animation-name: logspanfinish;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
}

#config {
    display: flex;
    background-color: green;
    position: fixed;
    top: 1em;
    left: 1em;
    right: 2em;
    height: 20em;
    max-height: 20em;
}

@keyframes configactive {
    0% { opacity: 0; }
    1% { visibility: visible; opacity: 0; }
    100% { visibility: visible; opacity: 0.8; }
}

@-webkit-keyframes configactive {
    0% { opacity: 0; }
    1% { visibility: visible; opacity: 0; }
    100% { visibility: visible; opacity: 0.8; }
}

@keyframes configinactive {
    0% { opacity: 0.8; }
    99% { opacity: 0; }
    100% { visibility: hidden; opacity: 0; }
}

@-webkit-keyframes configinactive {
    0% { opacity: 0.8; }
    99% { opacity: 0; }
    100% { visibility: hidden; opacity: 0; }
}

#console {
    width: 100%;
    flex: 1;
    max-height: inherit;
    display: flex;
    flex-direction: column;
}

#options {
    color: white;
    font: 0.8em arial, helvetica, sans-serif;
}

#console > input {
    background-color: green;
    color: white;
    font: 0.8em arial, helvetica, sans-serif;
    width: 100%;
    min-height: 1.5em;
    font-size: 1.5em;
}

#console > div.content {
    color: white;
    font: 0.8em arial, helvetica, sans-serif;
    font-size: 1.1em;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 0;
}

#config.initial {
    visibility: hidden;
    opacity: 0;
}

#config.active {
    animation-duration: 1s;
    animation-name: configactive;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: configactive;
    -webkit-animation-fill-mode: forwards;
}

#config.inactive {
    animation-duration: 1s;
    animation-name: configinactive;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: configinactive;
    -webkit-animation-fill-mode: forwards;
}
